[package]
name = "biliass-core"
version = "2.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "biliass_core"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.23.2", features = ["abi3-py39"] }
bytes = "1.9.0"
prost = "0.13.3"
thiserror = "2.0.3"
quick-xml = "0.37.1"
cached = "0.54.0"
serde = "1.0.215"
serde_json = "1.0.133"
regex = "1.11.1"
tracing = "0.1.41"
tracing-subscriber = "0.3.18"
rayon = "1.10.0"

[build-dependencies]
prost-build = "0.13.3"
protox = "0.7.1"

[profile.release]
lto = true      # Enables link to optimizations
opt-level = "s" # Optimize for binary size
