[package]
name = "biliass-core"
version = "2.2.2"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "biliass_core"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.24.0", features = ["abi3-py310"] }
bytes = "1.10.0"
prost = "0.13.5"
thiserror = "2.0.11"
quick-xml = "0.37.2"
cached = "0.55.0"
serde = "1.0.218"
serde_json = "1.0.139"
regex = "1.11.1"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
rayon = "1.10.0"

[build-dependencies]
prost-build = "0.13.5"
protox = "0.7.2"

[profile.release]
lto = true      # Enables link to optimizations
opt-level = "s" # Optimize for binary size
