name: api and downloader Test

on: [push, pull_request]

jobs:
  test-api-and-downloader:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10.0-rc.2"]
        architecture: ["x64"]
    name: Python ${{ matrix.python-version }} on ${{ matrix.architecture }} test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}

      - uses: Gr1N/setup-poetry@v4
      - uses: actions/cache@v2
        id: poetry-cache
        with:
          path: |
            **/.venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}

      - name: Install dependencies
        if: steps.poetry-cache.outputs.cache-hit != 'true'
        run: |
          poetry install

      - name: api and downloader test
        run: |
          poetry run pytest -m "(api or downloader) and not ci_skip"
