name: e2e Test

on:
  push:
    branches: [main]
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.13t"]
        architecture: ["x64"]
    name: Python ${{ matrix.python-version }} on ${{ matrix.architecture }} e2e test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install ffmpeg

      - name: Install just
        uses: extractions/setup-just@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          just ci-install

      - name: e2e without subprocess
        run: |
          uv run yutto -v
          uv run yutto -h
          uv run yutto https://www.bilibili.com/video/BV1AZ4y147Yg -w -d __test_files__
          rm -rf __test_files__

      - name: e2e test
        run: |
          just ci-e2e-test
