name: Latest Release Test

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test-yutto-latest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10.0-rc.2"]
        architecture: ["x64"]
    name: Python ${{ matrix.python-version }} on ${{ matrix.architecture }} test
    steps:
      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}

      - name: Install yutto latest
        run: |
          pip install yutto

      - name: Test yutto
        run: |
          yutto -v
